/************************************FORMAT MEDIA QUERIES STYLE FOR _____________ SITE**************************************/

/**********TABLE OF CONTENTS************/
/********************************
- MEDIA QUERIES

********************************/

/*********MEDIA QUERIES************/

/**** THIS IS SPECIFICALLY FOR WINDOWS PHONES ******/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/**min-width: 768px is everything above 768px - tablet and larger *******/
@media (min-width: 768px) {

/************** GLOBAL ************/

/********* INDEX ************/

/********* INTERIOR ************/


}

/**min-width: 992px is everything above 992px - laptop/smaller desktop and larger  *******/
@media (min-width: 992px) {

/************** GLOBAL ************/

/********* INDEX ************/

/********* INTERIOR ************/


}


@media (min-width: 1200px) {


/********* GLOBAL *********/

/********* INDEX ************/

/********* INTERIOR ************/



}


/**max-width: 767px is everything 767px and smaller *******/
@media screen and (max-width: 767px) {

}


/**min-width: 768px is everything above 768px - tablet and larger *******/
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {



}

/***screen sizes that range between 768px and 991px (screen-sm-min********/
@media (min-width: 768px) and (max-width: 991px) {



}

/***screen sizes that range between 992px and 1199px ********/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/***everything smaller than 500px *****/
@media (max-width: 500px) {

}


@media print {

}