/************************************FORMAT STYLE FOR _____________ SITE**************************************/

/**********TABLE OF CONTENTS************/
/********************************
- GLOBAL SIZES/WIDTHS
- GLOBAL STYLES:
	- HEADER:
	- FOOTER:
- GLOBAL BUTTON STYLES
	- .button
- ICON SPRITES

- MEDIA QUERIES:  SEE formatMediaQuery.css

********************************/
body {
	background: #FFFFFF
}

/*********GLOBAL STYLES************/
/***** GLOBAL BUTTON STYLES *******/
.button {

}
	.button:hover,
	a:hover .button {
	}
/******** ICON SPRITES ************/ 
.iconSprite {
	background: no-repeat;
	display: inline-block;
}
/**********INDEX STYLES***********/
/********* PRESENTATION SLIDER ***********/
/*********INTERIOR************/


