/***************************************************************************************************************************************************
ZLCMS LOGIN
***************************************************************************************************************************************************/

/***************************************************************************************************************************************************
FONT IMPORT
***************************************************************************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

@font-face {font-family: 'BrandonGrotesque-Regular';src: url('../fonts/278991_A_0.eot');src: url('../fonts/278991_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_A_0.woff') format('woff'),url('../fonts/278991_A_0.ttf') format('truetype');}
 
@font-face {font-family: 'BrandonGrotesque-Bold';src: url('../fonts/278991_0_0.eot');src: url('../fonts/278991_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_0_0.woff') format('woff'),url('../fonts/278991_0_0.ttf') format('truetype');}
  
 

/***************************************************************************************************************************************************
TABLE OF CONTENTS:
	--  GENERIC AND GLOBAL STYLES
	--  TEMPLATE FORMATTING STYLES
			-- HEADER LEFT COLUMN - MAIN NAVIGATION
	--  ICON SPRITES			
	--  MAIN CONTENT
			-- TWO COLUMN LAYOUT
			-- ONE COLUMN LAYOUT
	--  DASHBOARD
	--  TEXT AND LINK STYLES
	
	
	-- MEDIA QUERIES
	
***************************************************************************************************************************************************/


/***************************************************************************************************************************************************
GENERIC AND GLOBAL STYLES
***************************************************************************************************************************************************/
body {
	background: #E6E6E6;
	margin: 0;
	padding: 0;
}
*, 
*:before, 
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clear		{ clear: both;}	

.hide { display: none; }

.message p { 
	background: #FF5910;
	border-radius: 4px;
	color: #FFFFFF;
	font-family: BrandonGrotesque-Regular;
	font-size: 19px;
	margin-top: 0px;
	padding: 4px;
	}
	
.error { color: #e60c0c; }
	
.success { color: #0fde04 }

.loginWrapper {
	background: #FFFFFF;
	border-radius: 4px;
	margin: 0 auto;
	min-height: 200px;
	padding: 35px 30px;
	position: relative;
	top: 190px;
	width: 400px;
}
.loginLogo {
	display: block;
	margin: 0 auto 20px;
}
#loggingIn {
	display: none;
	margin: 12px auto;
}
input,
input[type="text"],
input[type="password"],
input[type="email"] {
	background: #F2F2F2;
	border: 1px solid #B3B3B3;
	border-radius: 4px;
	color: #808080;
	float: left;
	font-family: BrandonGrotesque-Regular;
	font-size: 19px;
	line-height: 26px;
	margin: 0 0 22px;
	padding: 12px 15px;
	width: 100%;
}
input[type="submit"],
input[type="button"] {
	background: #FF5910;
	border: none;
	border-radius: 4px;
	color: #FFFFFF;
	font-family: BrandonGrotesque-Bold;
	font-size: 21px;
	line-height: 24px;
	padding: 12px 35px;
	text-transform: uppercase;
	-webkit-appearance: none;
	width: auto;
}
	input[type="submit"]:hover,
	input[type="button"]:hover {
		background: #E54710;
	}

a {
	color: #FF5910;
	float: right;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 45px;
	text-align: right;
	text-decoration: none;
}	
	a:hover {
		color: #E54710;
	}
	
/***************************************************************************************************************************************************
GLOBAL WIDTHS | SIZES |  THESE ARE SET FOR ALL BROWSER SIZES, EVEN MOBILE - SEE MEDIA QUERIES FOR ADDITIONAL OPTIONS
***************************************************************************************************************************************************/
.full			{float: left; width: 100%;}
.half			{float: left; width: 50%;}

	.pr		{padding-right: 2%;}

@media (max-width: 960px) {

	.loginWrapper {
		top: 50px;
	}

}

@media (max-width: 767px) {

	.loginWrapper {
		top: 0;
		width: 100%;
	}
	.half {width: 100%; padding-right: 0;}
	
	a {float: none; line-height: 20px;}

}