@import  "plugin.css";

@import "theme.css";

@import  "zlcms-jquery-ui.css";


/***************************************************************************************************************************************************
ZLCMS VERSION 3.0 ---- MAIN.CSS
***************************************************************************************************************************************************/

/***************************************************************************************************************************************************
This is the primary ZLCMS stylesheet.  This stylesheet drives the look and feel of the ZLCMS system.  This stylesheet imports from two external
stylesheets.  The first is plugin.css which contains a number of standard form styles that are used through-out the system. The second is theme.css
which contains all of the color/background information to make the ZLCMS system very easy to theme for specific clients or client agencies.
***************************************************************************************************************************************************/



/***************************************************************************************************************************************************
TABLE OF CONTENTS:
	--  GENERIC AND GLOBAL STYLES
	--  TEMPLATE FORMATTING STYLES
			-- HEADER LEFT COLUMN - MAIN NAVIGATION
	--  ICON SPRITES			
	--  MAIN CONTENT
			-- TWO COLUMN LAYOUT
			-- ONE COLUMN LAYOUT
	--  DASHBOARD
	--  TEXT AND LINK STYLES
	
	
	-- MEDIA QUERIES
	
***************************************************************************************************************************************************/


#files_view.files_message .message_content {display: none !important;}


/***************************************************************************************************************************************************
GENERIC AND GLOBAL STYLES
***************************************************************************************************************************************************/
body {
	background: #FFFFFF;
	font-family: BrandonGrotesque-Regular;
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.left 		{float: left;}

.right 		{float: right;}

.clear		{clear: both;}

img 		{border: 0px;}

.hide		{display: none;}
.show		{display: block;}

.roundCorners3	{border-radius: 3px;}

/***************************************************************************************************************************************************
GLOBAL WIDTHS | SIZES |  THESE ARE SET FOR ALL BROWSER SIZES, EVEN MOBILE - SEE MEDIA QUERIES FOR ADDITIONAL OPTIONS
***************************************************************************************************************************************************/
.full			{float: left; width: 100%;}
.ninty			{float: left; width: 90%;}
.eighty			{float: left; width: 80%;}
.three-quarter	{float: left; width: 75%;}
.two-third		{float: left; width: 66.66%;}
.sixty			{float: left; width: 60%;}
.half			{float: left; width: 50%;}
.forty			{float: left; width: 40%;}
.third			{float: left; width: 33.33%;}
.thirty			{float: left; width: 30%;}
.quarter		{float: left; width: 25%;}
.twenty			{float: left; width: 20%;}
.ten			{float: left; width: 10%;}

.column		{padding: 0 12px;}

.push10		{padding-left: 10px;}
.push20		{padding-left: 20px;}
.push25		{padding-left: 25px;}
.push30		{padding-left: 30px;}
.push40		{padding-left: 40px;}

.pushd10	{margin-bottom: 10px;}
.pushd20	{margin-bottom: 20px;}
.pushd25	{margin-bottom: 25px;}
.pushd30	{margin-bottom: 30px;}
.pushd40	{margin-bottom: 40px;}

.p25		{padding: 25px;}

.pr			{padding-right: 2%;}

.pusht20	{margin-top: 20px;}
/**min-heights for forms ***/
.minHeight50 	{min-height: 50px;}
.minHeight75 	{min-height: 75px;}
.minHeight100 	{min-height: 100px;}
.minHeight140 	{min-height: 140px;}
.minHeight200 	{min-height: 200px;}
.minHeight320 	{min-height: 320px;}


/***set heighs for forms - specifically for multiple select menu ***/
.height50 		{height: 50px;}
.height75 		{height: 75px;}
.height100 		{height: 100px;}
.height150 		{height: 150px;}
.height200 		{height: 200px;}



.visible-sm		{display: block !important;}
.hidden-sm		{display: none !important;}
.visible-med	{display: block !important;}
.hidden-med		{display: none !important;}

/***************************************************************************************************************************************************
TEMPLATE FORMATTING STYLES
***************************************************************************************************************************************************/
/*** HEADER LEFT COLUMN - MAIN NAVIGATION ***/
header {
	float: left;
	padding: 10px 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 1000;
}
header .brand {
	display: block;
	float: left;
	margin: 7px;
}
#navToggle {
	border-radius: 3px;
	-webkit-box-shadow:inset 0 0 2px 2px #050505;
	box-shadow:inset 0 0 2px 2px #050505;
	display: none;
	float: right;
	height: 55px;
	width: 55px;
}
#navToggle:hover,
#navToggle:focus {
	cursor: pointer;
	opacity: 0.8;
}
nav {
	float: left;
	height: auto;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}
nav ul {
	float: left;
	margin: 0 0 20px;
	width: 100%;
}
nav ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	width: 100%;
}
nav ul li a {
	float: left;
	font-family: BrandonGrotesque-Regular;
	font-size: 13px;
	line-height: 15px;
	padding: 13px 8px 13px 13px;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}
nav span {
	float: left;
	margin: 0 5px;
}
nav .iconSprite {
	width: 28px !important;
}
/*** FOOTER ***/
footer {
	float: left;
	position: relative;
	width: 100%;
}
footer p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	padding: 10px 0 0 0;
}

/*** MAIN FULL WIDTH CONTAINER TO CONTAIN THE PAGE TITLE AND USER INFORMATION ***/
.pageHeader {
	float: left;
	position: relative;
	margin-top: 85px;
	width: 100%;
}
.pageHeader .pageTitle {
	padding: 0;
}
.pageTitle h1 {
	font-family: BrandonGrotesque-Regular;
	font-size: 22px;
	line-height: 35px;
	margin: 0;
	text-transform: uppercase;
}
.userWrapper {
	float: right;
	padding: 15px 0 6px;
	position: relative;
	width: 100%;
}
.userWrapper h2,
.userWrapper p {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	margin: 0;
}
.userWrapper p {

}
.userWrapper h2 {
	font-size: 14px;
}
.userWrapper .iconSprite {
	float: left;
	margin: 0 10px;
}
.userWrapper .iconSprite.downArrow  {
	display: inline-block;
	float: none;
	margin: 0 0 0 6px;
	position: relative;
	top: -1px;
}
.userCompanyOptions {
	background: #FFFFFF;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(00,00,00,.1);
	box-shadow: 1px 1px 1px 1px rgba(00,00,00,.1);
	display: none;
	margin: 0;
	position: absolute;
	top: 54px;
	width: 100%;
	z-index: 1000;
}
.userCompanyOptions li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 4px 10px;
	width: 100%;
}
.userCompanyOptions li a {
	font-size: 14px;
	line-height: 16px;
}
.selectedUserWrapper {
	background: #FFFFFF;
}
.userCompanyOptions li:hover,
.selectedUserWrapper:hover {
	background: #f4f4f4;
	cursor: pointer;
}
/********** ALERT WRAPPER ***********/
.successAlert,
.failedAlert {
	float: left;
	padding: 90px 15px 15px 15px;
	width: 100%;
}
.successAlert .iconSprite,
.failedAlert .iconSprite {
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
}
.successAlert h5,
.failedAlert h5 {
	display: inline-block;
	font-size: 20px;
	line-height: 38px;
	margin: 0;
	text-transform: uppercase;
}

/***************************************************************************************************************************************************
MAIN CONTENT
***************************************************************************************************************************************************/
.mainContentWrapper {
	float: left;
	width: 100%;
}
/*** HELP LIST - info and video icons - found in footer ***/
ul.helpList {
	margin: 10px 20px;
	width: auto;
}
ul.helpList li {
	color: #808080;
	display: inline;
	font-family: BrandonGrotesque-RegularItalic;
	font-size: 15px;
	float: left;
	line-height: 18px;
	list-style: none;
	margin: 0 5px 0 0;
}
ul.helpList li.pageNumb{
	margin: 0 0 0 20px;
	position: relative;
	top: 5px;
}

/***************************************************************************************************************************************************
TWO COLUMN LAYOUT
***************************************************************************************************************************************************/

/*****RIGHT COLUMN ******/
.rightColumn {
	position: relative;
}
.rightColumn .container {
	padding: 24px 22px 24px 12px;
}
.rightColumn h3 {
	font-size: 22px;
	text-transform: uppercase;
}
.rightColumn h3 a {
	text-transform: none;
}
.rightColumn ul {
	margin: 0;

}
.rightColumn ul li {
	display: block;
	font-size: 13px;
	line-height: 18px;
	list-style: none;
	margin: 0 0 3px 0;
	padding: 5px 13px;
}
.rightColumn span {
	float: left;
	margin: 0 8px 0 0;
}
.access_user,
.access_plugin {
	border-radius: 3px;
	font-size: 17px;
	padding: 2px 5px;
}


/***************************************************************************************************************************************************
BUTTON STYLES
***************************************************************************************************************************************************/
.button {
	border-radius: 4px;
	border: none;
	font-family: BrandonGrotesque-Bold;
	font-size: 17px;
	padding: 5px 15px;
	text-transform: uppercase;
}
.button:hover {
	cursor: pointer;
}
.addPage,
.backPage {
	float: right;
	margin: 0 0 0 20px;
	position: relative;
	top: 5px;
}

/***************************************************************************************************************************************************
ICON SPRITES
***************************************************************************************************************************************************/
.iconSprite {
	background: url(../images/icons/iconSprite.png) no-repeat;
	display: block;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.doubleFlag {
	background-position: -5px -253px;
	height: 16px;
	width: 24px;
}
a:hover .iconSprite.doubleFlag,
.iconSprite.doubleFlag:hover,
.active .iconSprite.doubleFlag {
	background-position: -37px -253px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.nut {
	background-position: -81px -252px;
	height: 18px;
	width: 16px;
}

a:hover .iconSprite.nut,
.iconSprite.nut:hover,
.active .iconSprite.nut {
	background-position: -117px -252px;
}
/** PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.wheel {
	background-position: -158px -252px;
	height: 17px;
	width: 17px;
}
a:hover .iconSprite.wheel,
.iconSprite.wheel:hover,
.active .iconSprite.wheel {
	background-position: -195px -252px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.star {
	background-position: -236px -253px;
	height: 18px;
	width: 19px;
}
a:hover .iconSprite.star,
.iconSprite.star:hover,
.active .iconSprite.star {
	background-position: -274px -253px;
}

/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.battery {
	background-position: -322px -255px;
	height: 15px;
	width: 16px;
}
a:hover .iconSprite.battery,
.iconSprite.battery:hover,
.active .iconSprite.battery {
	background-position: -357px -255px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.doublewrench {
	background-position: -408px -256px;
	height: 18px;
	width: 16px;
}
a:hover .iconSprite.doublewrench,
.iconSprite.doublewrench:hover,
.active .iconSprite.doublewrench {
	background-position: -450px -256px;
}

/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.openLock {
	background-position: -407px -349px;
	height: 18px;
	width: 19px;
}
a:hover .iconSprite.openLock,
.iconSprite.openLock:hover,
.active .iconSprite.openLock {
	background-position: -450px -349px;
}

/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.userProfile {
	background-position: -1px -36px;
	height: 23px;
	width: 23px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.megaPhone {
	background-position: -323px -354px;
	height: 13px;
	width: 15px;
}
a:hover .iconSprite.megaPhone,
.iconSprite.megaPhone:hover,
.active .iconSprite.megaPhone {
	background-position: -358px -354px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.lightBulb {
	background-position: -5px -296px;
	height: 21px;
	width: 18px;
}
a:hover .iconSprite.lightBulb,
.iconSprite.lightBulb:hover,
.active .iconSprite.lightBulb {
	background-position: -42px -296px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.solidThumb {
	background-position: -83px -296px;
	height: 17px;
	width: 18px;
}
a:hover .iconSprite.solidThumb,
.iconSprite.solidThumb:hover,
.active .iconSprite.solidThumb {
	background-position: -116px -296px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.gasPump {
	background-position: -158px -296px;
	height: 19px;
	width: 17px;
}
a:hover .iconSprite.gasPump,
.iconSprite.gasPump:hover,
.active .iconSprite.gasPump {
	background-position: -195px -296px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.eventIcon {
	background-position: -234px -296px;
	height: 18px;
	width: 19px;
}
a:hover .iconSprite.eventIcon,
.iconSprite.eventIcon:hover,
.active .iconSprite.eventIcon {
	background-position: -272px -296px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.keyIcon {
	background-position: -250px -296px;
	height: 18px;
	width: 16px;
}
a:hover .iconSprite.keyIcon,
.iconSprite.keyIcon:hover,
.active .iconSprite.keyIcon {
	background-position: -275px -296px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.oilCan {
	background-position: -400px -301px;
	height: 12px;
	width: 28px;
}
a:hover .iconSprite.oilCan,
.iconSprite.oilCan:hover,
.active .iconSprite.oilCan {
	background-position: -443px -301px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.gearsIcon {
	background-position: -3px -345px;
	height: 23px;
	width: 19px;
}
a:hover .iconSprite.gearsIcon,
.iconSprite.gearsIcon:hover,
.active .iconSprite.gearsIcon {
	background-position: -42px -345px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.burstAndDrop   {
	background-position: -82px -345px;
	height: 17px;
	width: 17px;
}
a:hover .iconSprite.burstAndDrop,
.iconSprite.burstAndDrop:hover,
.active .iconSprite.burstAndDrop {
	background-position: -117px -345px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.heartIcon   {
	background-position: -158px -345px;
	height: 18px;
	width: 19px;
}
a:hover .iconSprite.heartIcon,
.iconSprite.heartIcon:hover,
.active .iconSprite.heartIcon {
	background-position: -192px -345px;
}
/**PLACES USED:
	- HEADER/LEFT NAVIGATION
**/
.iconSprite.lineGraph   {
	background-position: -234px -345px;
	height: 20px;
	width: 20px;
}
a:hover .iconSprite.lineGraph,
.iconSprite.lineGraph:hover,
.active .iconSprite.lineGraph {
	background-position: -270px -345px;
}

/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.secsToLoad {
	background-position: -5px -2px;
	height: 20px;
	width: 20px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.bounceRate {
	background-position: -42px -4px;
	height: 18px;
	width: 20px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.people {
	background-position: -37px -40px;
	height: 18px;
	width: 19px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.profilePaper {
	background-position: -69px -40px;
	height: 18px;
	width: 19px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.foldedPaper {
	background-position: -101px -40px;
	height: 19px;
	width: 21px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.clock {
	background-position: -131px -40px;
	height: 19px;
	width: 18px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.miniDesktop {
	background-position: -164px -40px;
	height: 17px;
	width: 18px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.miniTablet {
	background-position: -196px -40px;
	height: 18px;
	width: 18px;
}
/**PLACES USED:
	- RIGHT COLUMN
**/
.iconSprite.miniMobile {
	background-position: -229px -40px;
	height: 20px;
	width: 18px;
}
/**PLACES USED:
	- FOOTER
	- PLUGINS - IF AVAILABLE
**/
.iconSprite.info {
	background-position: -251px -1px;
	height: 25px;
	width: 26px;
}
/**PLACES USED:
	- FOOTER
	- PLUGINS - IF AVAILABLE
**/
.iconSprite.video {
	background-position: -291px -2px;
	height: 25px;
	width: 26px;
}
/**PLACES USED:
	- CHANGING THE ORDER OF PAGES/CONTENT
**/
.iconSprite.moveIcon {
	background-position: -50px -76px;
	height: 17px;
	width: 17px;
}
.iconSprite.moveIcon:hover {
	cursor: pointer;
	opacity: 0.9;
}
/**PLACES USED:
	- EDIT PAGES/CONTENT
**/
.iconSprite.editIcon {
	background-position: -87px -76px;
	height: 22px;
	width: 21px;
}
.iconSprite.editIcon:hover {
	cursor: pointer;
	opacity: 0.9;
}
/**PLACES USED:
	- DELETEPAGES/CONTENT
**/
.iconSprite.deleteIcon {
	background-position: -129px -74px;
	height: 23px;
	width: 24px;
}
.iconSprite.deleteIcon:hover {
	cursor: pointer;
	opacity: 0.9;
}
/**PLACES USED:
	- MANAGEPAGES/CONTENT
**/		
.iconSprite.manageIcon {
	background-position:-124px -196px;
	height: 23px;
	width: 24px;		
}
	.iconSprite.manageIcon:hover {
		cursor: pointer;
		opacity: 0.9;
	}
/**PLACES USED:
	- DELETEPAGES/CONTENT
**/
.iconSprite.prev,
.iconSprite.arrowLeft,
.iconSprite.next,
.iconSprite.arrowRight {
	height: 25px;
	width: 25px;
}
.iconSprite.prev,
.iconSprite.arrowLeft {
	background-position: -169px -73px;
}
.iconSprite.prev:hover,
a:hover .iconSprite.prev,
.iconSprite.arrowLeft:hover,
a:hover .iconSprite.arrowLeft {
	background-position: -244px -73px;
}
.iconSprite.next,
.iconSprite.arrowRight {
	background-position: -205px -73px;
}
.iconSprite.next:hover,
a:hover .iconSprite.next,
.iconSprite.arrowRight:hover,
a:hover .iconSprite.arrowRight {
	background-position: -278px -73px;
}
.iconSprite.whitePlus {
	background-position: -86px -199px;
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	position: relative;
	top: 2px;
	width: 16px;
}
/******* THUMBS UP ******/
/******* THUMBS DOWN ******/
.iconSprite.thumbsUpIcon,
.iconSprite.thumbsDownIcon {
	height: 38px;
	width: 38px;
}
.iconSprite.thumbsUpIcon {
	background-position: -343px -4px;
}
.iconSprite.thumbsDownIcon {
	background-position: -403px -8px;
}
/****down arrow ***/
.iconSprite.downArrow {
	background-position: -469px -16px;
	height: 4px;
	width: 7px;
}
/****down arrow ***/
.iconSprite.downArrowLg {
	background-position: -331px -84px;
	height: 11px;
	width: 19px;
}

/****ICONS ARE USE TO RESIZE THE EDITOR CONTENT *******/
.iconSprite.phone {
	background-position: -4px -126px;
	height: 36px;
	width: 16px;
}
.iconSprite.smTablet {
	background-position: -38px -126px;
	height: 37px;
	width: 28px;
}
.iconSprite.lgTablet {
	background-position: -86px -126px;
	height: 41px;
	width: 31px;
}
.iconSprite.smComputer {
	background-position: -134px -126px;
	height: 31px;
	width: 59px;
}
.iconSprite.lgComputer {
	background-position: -206px -126px;
	height: 42px;
	width: 52px;
}


/***************************************************************************************************************************************************
DASHBOARD
***************************************************************************************************************************************************/
.analyticsWrapper {
	float: left;
	padding: 0 0 10px;
	position: relative;
	margin: 0 0 35px;
	width: 100%;
}
.analyticsData {
	padding: 0 10px;
	margin: 0 0 45px;
}
.analyticsData h4 {
	padding: 0 0 0 10px;
}
.chartHeader {
	float: left;
	text-align: right;
	padding: 20px 24px 0;
	width: 100%;
}
.chartHeader h2 {
	font-size: 22px;
	line-height: 36px;
	margin: 0;
}
#chart_div {
	height: 400px;
	overflow: hidden;
	float: left;
	width: 100%;
}
.dashboardNews {
	float: left;
	padding: 0 10px 30px;
	width: 100%;
}
.dashboardNews ul {
	margin: 0;
}
.dashboardNews ul li {
	display: block;
	float: left;
	list-style: none;
	padding: 14px 10px;
	width: 100%;
}
.dashboardNews li img {
	border-radius: 50%;
	float: left;
	margin: 0 15px 0 0;
}
.dashboardNews .title,
.dashboardNews .description {
	display: block;
}
.dashboardNews .title {
	font-family: BrandonGrotesque-Regular;
	font-size: 18px;
	line-height: 21px;
	margin: 10px 0 3px;
}
.dashboardNews .description {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
}
.goalsWrapper {
	float: left;
	padding: 0 10px;
	margin: 0 0 45px;
	width: 100%;
}
.goalsItem {
	float: left;
	padding: 10px;
	width: 100%;
}
.goalsItem p,
.goalsItem h6 {
	line-height: 20px;
	margin: 0;
}
.goalsItem h6 {
	font-size: 18px;
	margin: 0 5px 0 0;
}
.goalsItem p {
	font-size: 14px;
}
/***************************************************************************************************************************************************
INTERIOR LANDING PAGE
***************************************************************************************************************************************************/
.mainPageTitle {
	position: relative;
	width: 100%;
}
.mainPageTitle h1 {
	font-size: 22px;
	line-height: 24px;
	padding: 9px 0 0 0;
}
.mainPageTitle .button,
.mainPageTitle input[type="submit"].button {
	font-size: 13px;
	margin: 0 0 8px 5px;
	padding: 3px 10px;
}
/********SUB NAVIGATION **********/
.subNavWrapper {
	height: auto;
	width: 100%;
}
@-moz-document url-prefix() {
	.subNavWrapper {
		height: 26px;
	}
}
.subNav {
	float: left;
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0 0 0 25px;
	position: relative;
	top: 0;
	width: auto;
}
.subNav li {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	list-style: none;
	margin: 0 25px 0 0;
}
.subNav li a {
	font-family: BrandonGrotesque-Regular;
	font-size: 19px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.subNav li a:hover {
	cursor: pointer;
}
.subNavWrapper ul.helpList {
	margin: 0 7px 0 0;
	position: relative;
	top: -3px;
}

/*******DEVICE RESIZE*******/
.mobileDeviceBtn {
	display: none;
	margin: 0 0 20px;
}
.mobileDeviceBtn .iconSprite.downArrowLg {
	display: inline-block;
}
.deviceResizeWrapper {
	float: left;
	position: relative;
	width: 100%;
}
.deviceResizeWrapper ul {
	float: left;
	margin: 0;
	width: 100%;
}
.deviceResizeWrapper li {
	display: inline-block;
	float: left;
	line-height: 17px;
	margin: 0;
	width: 20%;
}
.deviceResizeWrapper .item1 { display: block;}
.deviceResizeWrapper li:first-child a {
	border-radius: 3px 0 0 0;
}
.deviceResizeWrapper li:last-child a{
	border-radius: 0 3px 0 0;
}
.deviceResizeWrapper li a {
	float: left;
	font-family: BrandonGrotesque-Regular;
	font-size: 13px;
	font-size: 12px\9;
	letter-spacing: -0.05em;
	line-height: 17px;
	padding: 15px 15px 5px 15px;
	padding: 15px 13px 5px 13px\9;
	min-height: 75px;
	text-transform: uppercase;
	width: 100%;
}
.deviceResizeWrapper .iconSprite.phone,
.deviceResizeWrapper .iconSprite.smTablet,
.deviceResizeWrapper .iconSprite.lgTablet,
.deviceResizeWrapper .iconSprite.smComputer,
.deviceResizeWrapper .iconSprite.lgComputer {
	float: left;
	margin: 0 11px 0 0;
}
/*********PAGE/CONTENT LIST ******/
.pageList,
.pageList ul {
	float: left;
	margin: 0;
	width: 100%;
}
.pageList li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	width: 100%;
}
.pageList li .listItem {
	border-radius: 5px;
	float: left;
	margin: 0 0 4px;
	padding: 8px 9px 6px;
	width: 100%;
}
.pageList li ul li{margin: 0;padding: 0;}

ul ul ul .pageName {
	padding: 0 0 0 40px;
}
ul ul ul ul .pageName {padding: 0 0 0 60px;}
ul ul ul ul ul .pageName {padding: 0 0 0 80px;}
ul ul ul ul ul ul .pageName {padding: 0 0 0 100px;}
.pageOrder {
	float: left;
	margin: 2px 10px 0 0;
width: 20px;
}
.pageName,
.pageUrl,
.pageTitle,
.pageImg,
.pageEmail,
.pageUserType {
	float: left;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	width: 70%;
}
.pageList .bgDark a,
.bgDark .pageName,
.bgDark .pageUrl,
.bgDark .pageDate,
.pageEmail,
.pageUserType {
	font-size: 15px;
	font-weight: 700;
}

.pageName,
.pageUrl,
.pageTitle,
.bgLight .pageName,
.bgLight .pageUrl,
.bgLight .pageTitle,
.bgLight a,
.bgMid .pageName,
.bgMid .pageUrl,
.bgMid .pageTitle,
.bgMid a {
	font-size: 14px;
	font-weight: 400;
}
.pageEmail {
	width: 65%;
}
.pageUserType {
	width: 35%;
}
.pageImg {
	width: 80%;
}
.pageImg img {
	height: auto;
	width: 100%;
}
.pageEdit,
.pageDelete {
	float: left;
	width: 50%;
}
.pageEdit .iconSprite,
.pageDelete .iconSprite {
	margin: 0 auto;
}
/******* PANE STYLES ******/
.pane {
	float: left;
	margin: 0;
	padding: 20px 0 0 0;
	width: 100%;
}
.pane.pane1 {
	margin: 0 0 10px;
	padding: 0;
}
/******* WELL CONTAINER *******/
.wellBg {
	border-radius: 3px;
}
.wellBg .wellFull {
	float: left;
	padding: 9px 22px 10px;
	width: 100%;
}
.wellBg .wellHalf {
	float: left;
	padding: 9px 22px 10px;
	width: 50%;
}
.wellBg h2 {
	font-size: 21px;
	line-height: 28px;
	margin: 0 0 17px;
}
.wellBg p {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	margin: 0 0 15px;
}
ul.scrollableList {
	margin: 0;
	padding: 10px 15px;
	overflow-x: scroll;
}
ul.scrollableList li {
	display: block;
	list-style: none;
}

/***************************************************************************************************************************************************
EDITOR
***************************************************************************************************************************************************/
#editor_wrapper {
	border-radius: 3px;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 15px;
	width: 100%;
}
#editor_width {
	display: block;
	margin: 0 auto;
	width: 500px;
}
#editor_width .cke_chrome {
	width: auto !important
}
#bottom_toolbar {
	float: left;
	margin: 0 0 25px 0;
	width: 100%;
}
.permaWrapper {
	float: left;
	position: relative;
	width: 100%;
}
.permalink_edit:hover {
	cursor: pointer;
	opacity: 0.5;
}

.accessLogWrapper  {
	float: left;
	padding: 10px 15px;
	width: 100%;
}
.accessLogWrapper h5,
.accessLogWrapper p {
	line-height: 22px;
	margin: 0;
}
/***************************************************************************************************************************************************
LIGHTBOX
***************************************************************************************************************************************************/
.lightboxOverlay,
.lightboxWrapper {
	display: none;
}
.lightboxOverlay {
	height: 100%;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
}
.lightboxWrapper {
	border-radius: 3px;
	padding: 30px;
	position: absolute;
	left: 5%;
	top: 20px;
	width: 90%;
	z-index: 2001;
}

.closeLightbox {
	border-radius: 3px;
	font-family: BrandonGrotesque-Bold;
	font-size: 20px;
	height: 23px;
	line-height: 20px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 23px;
}
.lightboxWrapper iframe {
	height: 700px;
	width: 100%;
}
/***************************************************************************************************************************************************
TEXT AND LINK STYLES
***************************************************************************************************************************************************/
h1 {
	font-family: BrandonGrotesque-Regular;
	font-size: 42px;
	line-height: 48px;
	margin: 0 0 20px;
	text-transform: uppercase;
}
h2 {
	font-family: BrandonGrotesque-Regular;
	font-size: 23px;
	line-height: 30px;
	margin: 0 0 20px;
	text-transform: uppercase;
}
h3 {
	font-family: BrandonGrotesque-Regular;
	font-size: 26px;
	letter-spacing: -0.04em;
	line-height: 30px;
	margin: 0 0 20px;
	text-transform: uppercase;
}
h4 {
	font-family: BrandonGrotesque-Regular;
	font-size: 24px;
	line-height: 40px;
	margin: 0 0 16px;
	text-transform: uppercase;
}
h5 {
	font-family: BrandonGrotesque-Regular;
	font-size: 22px;
	line-height: 40px;
	margin: 0 0 20px;
	text-transform: uppercase;
}
h6 {
	font-family: BrandonGrotesque-Regular;
	font-size: 20px;
	line-height: 40px;
	margin: 0 0 20px;
	text-transform: uppercase;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	margin: 0 0 20px;
}
a {
	font-family: BrandonGrotesque-Regular;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
a:hover {}

ul {
	margin: 0 0 15px 15px;
	padding: 0;
}
ul li,
ol li {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 8px;
}
li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
}
ul.full,
ol.full {
	margin: 0 0 15px;
}

ol {
	counter-reset: li;
	margin: 0 0 10px 0;
	padding: 0;
}
ol > li {
	position: relative;
	padding: 4px 8px 4px 40px;
	list-style: none;
}
ol > li:before {
	content:counter(li) '.';
	counter-increment:li;
	font-size: 13px;
	font-weight: bold;
	position:absolute;
	left: 13px;
	top: 9px;
}


@media (min-width: 768px) {


	/***************************************************************************************************************************************************
	GLOBAL WIDTHS | SIZES
	***************************************************************************************************************************************************/
	.full-sm			{float: left; width: 100%;}
	.eighty-sm			{float: left; width: 80%;}
	.three-quarter-sm	{float: left; width: 75%;}
	.two-third-sm		{float: left; width: 66.66%;}
	.sixty-sm			{float: left; width: 60%;}
	.half-sm			{float: left; width: 50%;}
	.forty-sm			{float: left; width: 40%;}
	.third-sm			{float: left; width: 33.33%;}
	.thirty-sm			{float: left; width: 30%;}
	.quarter-sm			{float: left; width: 25%;}
	.twenty-sm			{float: left; width: 20%;}
	.ten-sm				{float: left; width: 10%;}


	.visible-sm			{display: none !important;}
	.hidden-sm			{display: block !important;}

	.pr-sm {padding-right: 2%;}


	/***************************************************************************************************************************************************
	TEMPLATE FORMATTING STYLES
	***************************************************************************************************************************************************/
	/*** HEADER LEFT COLUMN - MAIN NAVIGATION ***/
	header {
		padding: 45px 0 10px;
		width: 200px;
	}
	header .brand {
		float: none;
		margin: 0 auto 40px;
	}
	nav {
		width: 218px;
	}
	nav ul {
		margin: 0 0 120px;
	}
	.subNavWrapper {
		height: 25px;
	}
	ul.helpList li {
		margin: 0 5px;
		width: auto;
	}
	/*** MAIN FULL WIDTH CONTAINER TO CONTAIN THE PAGE TITLE AND USER INFORMATION ***/
	.pageHeader,
	.mainContentWrapper,
	footer {
		padding: 0 0 0 200px;
	}
	.pageHeader {
		margin-top: 0;
	}
	.pageHeader .pageTitle {
		padding: 7px 0 0 0;
	}
	.pageTitle h1 {
		font-size: 32px;
	}
	.addPage,
	.backPage {
		float: right;
		top: 10px;
	}
	.mainPageTitle input[type="submit"].button,
	.mainPageTitle .button {
		font-size: 15px;
		margin: 0 15px 15px 0;
		padding: 5px 15px;
	}
	.successAlert,
	.failedAlert {
		padding: 15px 25px 15px 200px;
	}
	.deviceResizeWrapper li a {
		padding: 15px 6px 5px;
	}
	/******** right column*********/
	.rightColumn ul li {
		max-width: 170px;
		overflow: hidden;
		width: 100%;
	}

	/**************** EDITOR *********************/
	#editor_wrapper {
		padding: 25px 0;
	}

	/***************************************************************************************************************************************************
	TEXT AND LINK STYLES
	***************************************************************************************************************************************************/
	.mainPageTitle h1,
	h1 {
		font-size: 52px;
		line-height: 58px;
		margin: 0 0 20px;
	}
	h2 {
		font-size: 28px;
		line-height: 30px;
		margin: 0 0 20px;
	}


}


@media (min-width: 1000px) {

	/***************************************************************************************************************************************************
	GLOBAL WIDTHS | SIZES
	***************************************************************************************************************************************************/
	.full-med			{float: left; width: 100%;}
	.eighty-med			{float: left; width: 80%;}
	.three-quarter-med	{float: left; width: 75%;}
	.two-third-med		{float: left; width: 66.66%;}
	.sixty-med			{float: left; width: 60%;}
	.half-med			{float: left; width: 50%;}
	.forty-med			{float: left; width: 40%;}
	.third-med			{float: left; width: 33.33%;}
	.thirty-med			{float: left; width: 30%;}
	.quarter-med		{float: left; width: 25%;}
	.twenty-med			{float: left; width: 20%;}

	.pr-med 				{padding-right: 2%;}

	.hidden-med				{display: block !important;}
	.visible-med			{display: none !important;}
	/*** MAIN FULL WIDTH CONTAINER TO CONTAIN THE PAGE TITLE AND USER INFORMATION ***/
	.addPage,
	.backPage {
		top: 10px;
	}
	.mainPageTitle input[type="submit"].button,
	.mainPageTitle .button {
		font-size: 17px;
	}

	/******lightbox******/
	.lightboxWrapper {
		left: 15%;
		top: 10px;
		width: 70%;
	}

	/***************************************************************************************************************************************************
	TEXT AND LINK STYLES
	***************************************************************************************************************************************************/
	.mainPageTitle h1 {
		padding: 0 0 0 25px;
	}
	.mainPageTitle h1,
	h1 {
		font-size: 72px;
		line-height: 98px;
		margin: 0 0 20px;
	}
	/******** right column*********/
	.rightColumn ul li {
		overflow: auto;
		max-width: none;
		width: auto;
	}


}


@media (min-width: 1300px) {

	/***************************************************************************************************************************************************
	GLOBAL WIDTHS | SIZES
	***************************************************************************************************************************************************/
	.full-lg			{float: left; width: 100%;}
	.eighty-lg			{float: left; width: 80%;}
	.three-quarter-lg	{float: left; width: 75%;}
	.two-third-lg		{float: left; width: 66.66%;}
	.sixty-lg			{float: left; width: 60%;}
	.half-lg			{float: left; width: 50%;}
	.forty-lg			{float: left; width: 40%;}
	.third-lg			{float: left; width: 33.33%;}
	.thirty-lg			{float: left; width: 30%;}
	.quarter-lg			{float: left; width: 25%;}
	.twenty-lg			{float: left; width: 20%;}

	.npr-lg 			{padding-right: 0;}

	.pr-lg 				{padding-right: 2%;}
	/*** MAIN FULL WIDTH CONTAINER TO CONTAIN THE PAGE TITLE AND USER INFORMATION ***/
	.addPage,
	.backPage {
		top: 15px;
	}

	.deviceResizeWrapper li a {
		padding: 20px 18px 5px 18px;
	}

	/******* ACCOUNT USER / PAGE CONTENT LIST ****/
	.pageList .bgDark a,
	.bgDark .pageName,
	.bgDark .pageUrl,
	.bgDark .pageDate,
	.pageEmail,
	.pageUserType {
		font-size: 17px;
		font-size: 14px\9;
		font-weight: 700;
	}

	.pageName,
	.pageUrl,
	.pageTitle,
	.bgLight .pageName,
	.bgLight .pageUrl,
	.bgLight .pageTitle,
	.bgLight a,
	.bgMid .pageName,
	.bgMid .pageUrl,
	.bgMid .pageTitle,
	.bgMid a {
		font-size: 16px;
		font-size: 12px\9;
		font-weight: 400;
	}


}

@media (max-width: 1000px) {

	/*****DASHBOARD*****/
	.goalsItem p,
	.goalsItem h6 {
		display: inline-block !important;
		min-width: 33.33%;
	}

}

@media (max-width: 900px) {

	nav {
		height: 200px;
		overflow-y: scroll;
	}

	/******* TOGGLE DROPDOWN ON MOBILE*******/

	.subNavWrapper {
		position: relative;
	}
	.mobileDeviceBtn,
	.mobileDeviceBtn a {
		border-radius: 3px;
		font-family: BrandonGrotesque-Bold;
		display: block;
		float: left;
		font-size: 20px;
		padding: 5px 15px;
		text-transform: uppercase;
		width: auto;
	}
	.mobileDeviceBtn a {
		padding: 0 30px 0 0;
	}
	.subNav,
	.deviceResizeWrapper ul {
		background: #FFFFFF;
		display: none;
		padding: 10px;
		position: absolute;
		top: 43px;
		width: 100%;
		z-index: 100;
	}
	.subNav li,
	.subNav li a,
	.deviceResizeWrapper li,
	.deviceResizeWrapper li a {
		float: left;
		width: 100%;
	}
	.deviceResizeWrapper li a {
		min-height: 10px;
		padding: 15px;
		padding: 15px 10px\9;
	}
	.deviceResizeWrapper .iconSprite { display: none;}
	.deviceResizeWrapper .item1 { display: inline;}


}


@media (max-width: 767px) {


	.full,
	.ninty,
	.eighty,
	.three-quarter,
	.two-third,
	.sixty,
	.half,
	.forty,
	.third,
	.thirty,
	.twenty
	.quarter {
		width: 100%;
	}
	.third			{float: left; width: 33.33%;}
	.quarter		{float: left; width: 25%;}
	.twenty			{float: left; width: 20%;}
	.ten			{float: left; width: 10%;}

	.full.p25		{padding: 15px;}

	/**header**/
	header .brand {
		height: auto;
		max-width: 70px;
	}
	.userWrapper {
		padding: 0 0 6px;
	}
	nav  {display: none;}
	ul.helpList {
		width: 100%;
	}
	.pageUrl,
	.pageTitle,
	.pageDate,
	.pageUserType,
	.pageEmail {
		padding: 0;
		width: 100%;
	}
	.pageName,
	.pageUrl,
	.pageTitle,
	.pageImg,
	.pageEmail,
	.pageUserType {
		margin: 0 0 4px;
	}
	.pageOrder {
		display: none;
	}


}	