/***************************************************************************************************************************************************
ZLCMS VERSION 3.0 ---- PLUGIN.CSS
***************************************************************************************************************************************************/

/***************************************************************************************************************************************************
TABLE OF CONTENTS:
	--  FORM STYLES
	--  SMALL FORM
	--  FULL FORM
	--  DELETE PLUGIN
	
***************************************************************************************************************************************************/

/***************************************************************************************************************************************************
FORM AREA FORMATTING STYLES
***************************************************************************************************************************************************/
/* CUSTOM ROUND STYLES */

/* SMALL FORM STYLES */
	
/* FULL FORM STYLES */


/***************************************************************************************************************************************************
FORM STYLES
***************************************************************************************************************************************************/
/***************************************************************************************************************************************************
'header' search form
***************************************************************************************************************************************************/
#searchWrapper input[type="text"],
#searchWrapper input {
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	line-height: 21px;
	margin: 0;
	padding: 5px 10px 5px 30px;
}

/***global input styles***/
textarea,
input,
input[type="text"],
input[type="email"],
input[type="password"] {
	border-radius: 3px;
	float: left;
	font-family: BrandonGrotesque-Regular;
	font-size: 19px;
	line-height: 28px;
	margin: 0 0 20px;
	padding: 10px 15px;
}
	textarea {
		resize: vertical;
	}
label {
	font-family: BrandonGrotesque-Regular;
	font-size: 17px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 0px 10px;
	text-transform: uppercase;
}		
input[type="submit"].buttonSubmit.button,
input[type="button"].buttonSubmit.button {
	margin: 0;
	padding: 11px;
	-webkit-appearance: none;	
}	
input[type="radio"] {
	display: none;
}
	input[type="radio"] + label {
		font-family: BrandonGrotesque-Regular;
		font-size: 16px;
		line-height: 20px;
		margin: 0;
		text-transform: uppercase;	
	}
		input[type="radio"] + label span {
			background: url(../images/icons/iconSprite.png) -40px -193px no-repeat;
			float: left;
			margin: 0 5px 4px 0;
			height: 24px;
			width: 23px;
		}
			input[type="radio"]:checked + label span {
				background: url(../images/icons/iconSprite.png) -4px -193px no-repeat;
			}
	input[type="submit"].button {
		margin: 0 15px 15px 0;
		-webkit-appearance: none;
	}
/***permalink edit***/
.permalink_edit {
	height: 21px;
	position: absolute;
	right: 15px;
	top: 36px;	
	width: 21px;
}
			
/***customize select menu****/			
.selectBg {	
	border-radius: 3px;
	float: left;
	height: 52px;
	padding: 0 10px;
	margin: 0;
	overflow: hidden;
	width: 100%;
}			
	.selectBg select {	
		background-position: 91% center;
		background-repeat: no-repeat;
		float: left;
		height: 52px;
		line-height: 24px;
		margin: 0;
		padding: 5px 0 5px 10px;
		-webkit-appearance:none;		
		width: 111%;
		width: 123%\9;		
	}
/****customize multiple select menu****/
.multiSelectBg {
	border-radius: 3px;
	width: 100%;
}
.multiSelectBg select {
	padding: 20px;
	width: 100%;
}	
	.multiSelectBg select,
	.selectBg select,
	.selectBg select option {
		font-family: BrandonGrotesque-Regular;
		font-size: 19px;
		line-height: 24px;		
	}

/**** FILE INPUT CUSTOMIZATION*****/
.imgUploadEx{
	float: left;
	margin: 0 20px 30px 0;
	width: auto;
}
input[type="file"]  {
	height: 52px;
	line-height: 17px;
	padding: 15px;
}
.fileUploadWrapper {
	float: left;
	margin: 0 0 20px;
	position: relative;
	width: 100%;
}
label.fileName {
	border-radius: 3px;
	float: left;
	line-height: 28px;
	padding: 12px 15px;
	width: 100%;	
}
.fileInputWrapper {	
	border-radius: 3px;
	height: 54px;
	margin: 0 0 20px;
	position: absolute;
	right: 0;
	top: 0;	
	width: 136px;
}
	.fileInputWrapper input[type="file"] {
		filter: alpha(opacity=0);
		opacity: 0;
	}
	
/***************************************************************************************************************************************************
EDITOR LIGHTBOX
***************************************************************************************************************************************************/
.cke_dialog_ui_vbox_child {
	padding: 5px 0 0;
}
.cke_dialog_contents input[type="text"],
.cke_dialog_contents input {
	font-size: 12px;
	line-height: 14px;
	margin: 0 0 5px;
	padding: 4px;
}
/***************************************************************************************************************************************************
DELETE PLUGIN
***************************************************************************************************************************************************/

@media (min-width: 768px) {

	.selectBg select {
		width: 115%;
	}

}


@media (min-width: 1000px) {

	input[type="radio"] + label {
		line-height: 26px;
	}
	.selectBg select {
		background-position:  84% center;
		width: 121%;
	}
	

}


@media (min-width: 1300px) {

	.selectBg select {
		background-position:  90% center;
		width: 110%;
	}


}