/***************************************************************************************************************************************************
ZLCMS VERSION 3.0 ---- THEME.CSS
***************************************************************************************************************************************************/

/***************************************************************************************************************************************************
This stylesheet is designed to contain all of the color related formatting for the ZLCMS system.  On occassion it may become necessary to customize
the look of the interface for a customer.  If this happens all of the colors, background images, and customizable pieces are contained within this
document.
***************************************************************************************************************************************************/
/***************************************************************************************************************************************************
TABLE OF CONTENTS
	--  STANDARD TEMPLATE COLORS
	--  CUSTOMIZABLE TEXT/LINK COLORS	
	--  FONTS
	--  NAVIGATION COLORS
			- HEADER - LEFT COLUMN
	--  PAGE COLORS
	--  DASHBOARD
	--  ALTERNATING ROW COLORS 
	--  ACCESS LOG COLORS
	--  FORM STYLE COLORS
***************************************************************************************************************************************************/

/***************************************************************************************************************************************************
FONTS
***************************************************************************************************************************************************/
/**OPEN SANS***/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/**LAT0**/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

/**BRANDON GROTESQUE **/
@font-face {font-family: 'BrandonGrotesque-Bold';src: url('../fonts/278991_0_0.eot');src: url('../fonts/278991_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_0_0.woff') format('woff'),url('../fonts/278991_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-MediumItalic';src: url('../fonts/278991_1_0.eot');src: url('../fonts/278991_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_1_0.woff') format('woff'),url('../fonts/278991_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-Thin';src: url('../fonts/278991_2_0.eot');src: url('../fonts/278991_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_2_0.woff') format('woff'),url('../fonts/278991_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-RegularItalic';src: url('../fonts/278991_3_0.eot');src: url('../fonts/278991_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_3_0.woff') format('woff'),url('../fonts/278991_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-BlackItalic';src: url('../fonts/278991_4_0.eot');src: url('../fonts/278991_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_4_0.woff') format('woff'),url('../fonts/278991_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-Black';src: url('../fonts/278991_5_0.eot');src: url('../fonts/278991_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_5_0.woff') format('woff'),url('../fonts/278991_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-BoldItalic';src: url('../fonts/278991_6_0.eot');src: url('../fonts/278991_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_6_0.woff') format('woff'),url('../fonts/278991_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-Light';src: url('../fonts/278991_7_0.eot');src: url('../fonts/278991_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_7_0.woff') format('woff'),url('../fonts/278991_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-LightItalic';src: url('../fonts/278991_8_0.eot');src: url('../fonts/278991_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_8_0.woff') format('woff'),url('../fonts/278991_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-ThinItalic';src: url('../fonts/278991_9_0.eot');src: url('../fonts/278991_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_9_0.woff') format('woff'),url('../fonts/278991_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-Regular';src: url('../fonts/278991_A_0.eot');src: url('../fonts/278991_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_A_0.woff') format('woff'),url('../fonts/278991_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesque-Medium';src: url('../fonts/278991_B_0.eot');src: url('../fonts/278991_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/278991_B_0.woff') format('woff'),url('../fonts/278991_B_0.ttf') format('truetype');}
 

/***************************************************************************************************************************************************
 STANDARD TEMPLATE STYLES
***************************************************************************************************************************************************/

/***************************************************************************************************************************************************
 CUSTOMIZABLE TEXT/LINK COLORS
***************************************************************************************************************************************************/
h1 				{color: #333333;}
h2 				{color: #4D4D4D;}
h3 				{color: #333333;}
h4 				{color: #000000;}
h5 				{color: #333333;}
h6 				{color: #333333;}
p 				{color: #333333;}
li 				{color: #808080;}
ol > li:before	{color: #FF5910;}
a				{color: #FF5910;}
a:hover			{color: #E54710; -webkit-transition: color 800ms ease-in; transition: color 800ms ease-in;}

/***************************************************************************************************************************************************
 CUSTOMIZABLE COLORS
***************************************************************************************************************************************************/
/** TEXT **/
.color1			{color: #333333;}
.color2			{color: #666666;}
.color3			{color: #999999;}
.color4			{color: #000000;}
.color5			{color: #808080;}
.color6			{color: #FF5910;}/***orange***/
.color7			{color: #FFFFFF;}
.color8			{color: #1A1A1A;}

/** BG **/
.bg1			{background: #FFFFFF;}
.bg2 			{background: #F2F2F2;}/**light gray - used in right column **/		
.bg3			{background: #E6E6E6;}/** every-so slight darker gray than .bg2 **/

/**zebra striping**/
.bgMid,.listItem	{background: #F0F0F0;}
.bgDark				{background: #666666;}
.bgLight			{background: #FFFFFF;}

/*****BORDERS*****/
/****ALL EDGES***/
.border1			{border: 2px solid #CCCCCC;}
.border2			{border: 2px solid #E6E6E6;}

/**BOTTOM***/
.borderBottom2px 	{border-bottom: 2px solid #E6E6E6;}
.borderBottom3px 	{border-bottom: 3px solid #CCCCCC;}
.borderBottom6px	{border-bottom: 6px solid #CCCCCC;}

.dashedBorderBottom1px {border-bottom: 1px dashed #CCCCCC;}

/***LEFT***/
.borderLeft3px		{border-left: 3px solid #E6E6E6;}
.borderLeft6px		{border-left: 6px solid #CCCCCC;}


/**TOP***/
.borderTop2px	{border-top: 2px solid #CCCCCC;}
.borderTop6px	{border-top: 6px solid #CCCCCC;}


/**RIGHT***/
.borderRight6px		{border-right: 6px solid #CCCCCC;}


/***orange gradient bg **/
.button  {
	background: url(../images/bg/buttonBg.jpg) repeat-x left top #ef3924;
	color: #FFFFFF;
}
	.button:hover {
		background: #ef3924;
		color: #FFFFFF;
		cursor: pointer;
		text-decoration: none;
	}
.mobileDeviceBtn {
	background: #FFFFFF;
	border: 1px solid #B4B4B4;
	color: #231F20;
}
	.mobileDeviceBtn a {
		background: url(../images/icons/downArrowLg.png) no-repeat right 10px #FFFFFF;
		border: none;
		color: #231F20;
	}
	.mobileDeviceBtn:hover {
		background: #B4B4B4;
		border: 2px solid #FFFFFF;
		color: #FFFFFF;
		cursor: pointer;
		text-decoration: none;
	}
		.mobileDeviceBtn a:hover {	
			background: url(../images/icons/downArrowLg.png) no-repeat right 10px #B4B4B4;
			border: none;
			color: #FFFFFF;
			text-decoration: none;
		}
/****gray button ***/
.button2 {
	background: url(../images/bg/button2Bg.jpg) repeat-x left top #595959;
}	
	.button2:hover {
		background: #595959;
	}
/*** solid button styles ***/
.button.bg1 	{background: #B3B3B3;}/***lighter gray***/
	.button.bg1:hover 	{background: #999999;}/***slightly darker gray***/
	
.button.bg2 		{background: #999999;}	/***slightly darker gray***/	
	.button.bg2:hover 	{background: #B3B3B3;}/***lighter gray***/
	
.button.bg3			{background: #333333;}/*****darker gray*****/
	.button.bg3:hover	{background: #808080;}/**** medium gray ***/

.button.bg4		{background: #808080;}/**** medium gray ***/
	.button.bg4:hover	{background: #333333;}/*****darker gray*****/

/***************************************************************************************************************************************************
 NAVIGATION STYLES
***************************************************************************************************************************************************/
/*** HEADER LEFT COLUMN - MAIN NAVIGATION ***/
header 				{background: #1A1A1A; /***dark charcoal gray ***/}

#navToggle			{background: url(../images/icons/navToggleIcon.png) no-repeat center center #0F0F0F}
nav a				{color: #CCCCCC;} /**light gray**/
	nav a:hover,
	nav li.active a	{background: #4D4D4D; color: #CCCCCC;} /**light gray**/

/**user dropdown links**/
.userCompanyOptions li a,
.userWrapper p a {
	color: #999999;
}


.successAlert 		{background: #82C63F; border-bottom: 3px solid #CCC;}
.failedAlert		{background: #ED1C23; border-bottom: 3px solid #CCC;}
	
/***************************************************************************************************************************************************
 PAGE STYLES
***************************************************************************************************************************************************/



/***************************************************************************************************************************************************
 DASHBOARD
***************************************************************************************************************************************************/
.dashboardNews li a:hover .title,
.dashboardNews li a:hover .description {
	color: #666666;
}
.dashboardNews li a:hover img {border: 2px solid #666666;}

.analyticsData li a {
	color: #808080;
}
	.analyticsData li a:hover {
		color: #666666;
	}
	.chartHeader h2 {
		color: #B3B3B3;
	}
/***************************************************************************************************************************************************
INTERIOR LANDING PAGE
***************************************************************************************************************************************************/
/********SUB NAVIGATION **********/
.subNav li a {
	border-bottom: 3px solid #CCCCCC;
	color: #B3B3B3;
}
	.subNav li a.active,
	.subNav li a:hover {
		border-bottom: 3px solid #F15A24;
		color: #000000;
	}

/***************************************************************************************************************************************************
EDITOR RESIZE TOGGLE
***************************************************************************************************************************************************/
.deviceResizeWrapper li a {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d1d3d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d1d3d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d1d3d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d1d3d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d1d3d1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d1d3d1 100%); /* W3C */
	border: none;
	border-bottom: 1px solid #B3B3B3;
	border-right:  1px solid #B3B3B3;
	border-top: 1px solid #B3B3B3;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d3d1',GradientType=0 ); /* IE6-9 */	
	color: #333333;
}

	.deviceResizeWrapper li:first-child a,
	.deviceResizeWrapper li.first a  {border: 1px solid #B3B3B3;}


		.deviceResizeWrapper li a.active,
		.deviceResizeWrapper li a:hover {background: #FAFAFA;}

			
.wellBg {
	background: #F2F2F2; 
	border: 1px solid #B3B3B3;
}		

.pane {border-top: 1px dashed #CCCCCC;}		
	.pane.last, .pane.pane1 {border-top: none;}
/***************************************************************************************************************************************************
 ALTERNATING "ZEBRA" STRIPE ROW COLORS
***************************************************************************************************************************************************/

.bgLight,
.bgLight a,
.bgMid,
.bgMid a,
li .listItem,
li .listItem a {color: #1A1A1A;}

li .bgDark,
li .bgDark a {color: #FFFFFF;}	


.access_plugin:nth-child(even),
.access_user:nth-child(even) {
	background: #FFFFFF;
}
.access_plugin:nth-child(odd),
.access_user:nth-child(odd) {	
	background: #F2F2F2;
}
.subnavigation_on {color: #FF5910;}
	.subnavigation_on:hover {color: #e54e0e; cursor: pointer;}

/***************************************************************************************************************************************************
 ACCESS LOG COLORS
***************************************************************************************************************************************************/


/***************************************************************************************************************************************************
 FORM STYLE COLORS
***************************************************************************************************************************************************/
input:focus {outline-color: #CCCCCC;}


/***************************************************************************************************************************************************
PLUGIN SEARCH FORM AT TOP OF BROWSER
***************************************************************************************************************************************************/
#searchWrapper input[type="text"],
#searchWrapper input {
	background: url(../images/icons/magGlassIcon.png) no-repeat left center #FFFFFF;
	border: none;
	color: #B3B3B3;
}

/*** select menu customization***/
.multiSelectBg,
.selectBg {
	background: #FFFFFF;
	border: 1px solid #B3B3B3;
}
	.selectBg select {
		background-color: #FFFFFF;
		background-image: url(../images/icons/selectArrow.jpg);
		border: none;
	}
		.multiSelectBg select,
		.multiSelectBg select option,
		.selectBg select,
		.selectBg select option {
			color: #808080;
		}
	.multiSelectBg select {
		background: #FFFFFF;
		border: none;
	}
/***input colors***/
label {
	color: #808080;
}
textarea, 
input, 
input[type="text"], 
input[type="email"], 
input[type="password"] {
	background: #FFFFFF;
	border: 1px solid #B3B3B3;
	color: #808080;
}
.permalink_edit {
	background: url(../images/icons/editIcon.png) no-repeat 99% center;
}
	.permaWrapper input {
		background: #F2F2F2;
	}
/**** FILE INPUT CUSTOMIZATION*****/
label.fileName {
	background: #FFFFFF;
	border: 1px solid #B3B3B3;	
}
.fileInputWrapper {
	background: url(../images/icons/browseBtn.png) no-repeat center center #FFFFFF;
	background-size: cover;
	border: 1px solid #B3B3B3;
}	
input[type="file"] {
	background: #B2B2B2;
	color: #666666;
}
	input[type="file"]:hover {
		background: #808080;
		cursor: pointer;
	}
	
/***************************************************************************************************************************************************
EDITOR
***************************************************************************************************************************************************/
#editor_wrapper {
	background: #F2F2F2;
	border: 2px solid #B6B6B6;	
}
	#editor_width {
		border: 1px dashed #B6B6B6;
		outline: 1px solid #F2F2F2;
	}
		#editor_width .cke_chrome {
			border: none;
			-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			box-shadow: 0 0 0 rgba(0, 0, 0, 0);	
		}
/***************************************************************************************************************************************************
LIGHTBOX
***************************************************************************************************************************************************/
.lightboxOverlay {
	background: rgba(00,00,00,0.5);
	background: #000000\9;
}
.lightboxWrapper {
	background: #FFFFFF;
	border: 1px solid #CCC;
}		
	.lightboxWrapper p {
		color: #808080;
	}
.closeLightbox {
	background: #FF5910;
	color: #F2F2F2;
}
	.closeLightbox:hover {
		background: #F2F2F2;
		color: #FF5910;
		cursor: pointer;
	}
	