
.sortable, .sortable2, .sortable3, .sortable4 { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable2 { }
.sortable3 { }
.sortable4 { }

.core, .orphan {
	display: none;
}

#metatags_panel, #url_panel, #permissions_panel, #notes_panel, #properties_panel { display: none; }