/**** PLUGIN DRIVEN CSS FILE ******/


/**** START OF MEDIA QUERIES ******/
@media (min-width: 768px) {
	
}

@media (min-width: 970px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 500px) {

}

@media print {

}